.vagrant/
vendor/
config/development.config.php
data/cache/*
!data/laminastutorial.db
!data/load_db.php
!data/schema.sql
!data/cache/.gitkeep
phpunit.xml
.phpunit.result.cache
!composer.json
composer.lock
docker-compose.yml
phpcs.xml
phpunit.xml.dist
Dockerfile
LICENSE.md
COPYRIGHT.md
Vagrantfile
.idea/
module/Application